* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

#counter {
  color: #2799ff;
  font-size: 100px;
  font-family: "Source Sans Pro", sans-serif;
}